# Operating System Files
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
._*

# Editor-specific files and directories
# -----------------------------------------------------------------------------

# Log files
# -----------------------------------------------------------------------------
*.log
log/
logs/
