# Operating System Files
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
._*

# Editor-specific files and directories
# -----------------------------------------------------------------------------

# Log files
# -----------------------------------------------------------------------------
*.log
log/
logs/

# Library Docs
# -----------------------------------------------------------------------------
_docs/libs

# Implementation Progress
# -----------------------------------------------------------------------------
_docs/current-progress.md
